@font-face {
    font-family: Open-sans;
    font-weight: 400;
    src: url(../assets/fonts/Open_Sans/OpenSans-Regular.ttf);
}

@font-face {
    font-family: Open-sans;
    font-weight: 300;
    src: url(../assets/fonts/Open_Sans/OpenSans-Light.ttf);
}

@font-face {
    font-family: Open-sans;
    font-weight: 700;
    src: url(../assets/fonts/Open_Sans/OpenSans-Bold.ttf);
}